.baby-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
  }
  

  .baby-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }
  
  .baby-profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .baby-info {
    width: 300px;
  }

  .baby-info-title {
    margin-bottom: 20px;
  }
  
  .baby-info-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .baby-label {
    font-weight: bold;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  .baby-value {
    margin-left: 10px;
    width: 250px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 2px solid #f7c515;
  }
  
  .baby-gender {
    display: flex;
  }
  
  .gender-option {
    padding: 10px 20px;
    width: 100px;
    background-color: transparent;
    color: #f7c515;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 20px;
    border: 2px solid #f7c515;
    transition: all 0.3s ease;
  }
  
.settings-quit-button {
  position: fixed; /* 화면에 고정 */
  left: 30px;
  top: 30px; /* 상단에서 10px 떨어진 위치 */
  z-index: 1000; /* 다른 요소들 위에 보이도록 z-index 설정 */
  background-color: transparent; /* 버튼 배경 투명하게 */
  border: none; /* 테두리 없앰 */
}