.baby-add-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 30px;
    max-width: 400px; /* 모바일 화면에 맞게 최대 너비 설정 */
}


.baby-add-comment {
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
}

.photo-gender {
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
}

.gender-btn {
    padding: 10px 20px;
    margin: 10px;
    width: 100%;
    background-color: transparent;
    color: #DADADA;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #DADADA;
    transition: all 0.3s ease;
    margin-left: auto; 
    margin-right: 10px; 
}

.gender-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.gender-selection {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    /* margin-bottom: 20px; */
}

.arrow-back-icon {
    position: absolute; 
    left: 30px;
    font-size: 22px;

  }

  
.gender-btn.active {
    background: rgba(247, 197, 21, 0.1);
    color: #f7c515;
    border: 2px solid #f7c515;
}

.file-input {
    opacity: 0;
    width: 0.5px;
    height: 0.5px;
    position: absolute;

}

.input-field.empty {
    border-color: red;
  }
  

.facamera{
    margin-top: 15px;
}
.file-input-label {
    display: inline-block;
    background-color: #DADADA; /* 원하는 배경 색 */
    color: #fff;
    padding: 10px 16px;

    border-radius: 50%; /* 동그랗게 만듭니다 */
    /* font-size: 30px; */
 width: 60px;
 height: 70px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: auto;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.text-date {
    margin-top: 30px;
}

.input-field {
    width: 260px;
    height: 47px; 
    border-radius: 20px;
    border: 2px solid #DADADA;
    padding: 0 15px;
    margin-top: 15px; 
    font-size: 16px;
    transition: border-color 0.3s; /* 트랜지션 효과 추가 */
    background-color: #fff; /* 입력 필드 배경색을 흰색으로 설정 */
}

/* 클릭 시 아웃라인 색상 변경 */
.input-field:focus, .input-field:not(:placeholder-shown) {
    outline: none; /* 기본 아웃라인 제거 */
    border-color: #f7c515; /* 클릭 시 아웃라인 색상 변경 */
}

.input-field[type="date"] {
    width: 260px;
    height: 47px; 
    border-radius: 20px;
    border: 2px solid #DADADA; /* 아웃라인 색상 변경 */
    padding: 0 15px;
    margin-top: 15px; 
    font-size: 16px;
    transition: border-color 0.3s; /* 트랜지션 효과 추가 */
    background-color: #fff; /* 입력 필드 배경색을 흰색으로 설정 */
}

/* 클릭 시 아웃라인 색상 변경 */
.input-field[type="date"]:focus {
    outline: none; /* 기본 아웃라인 제거 */
    border-color: #f7c515; /* 클릭 시 아웃라인 색상 변경 */
}

.baby-add-submit {
    width: 300px;
    height: 47px; 
    border-radius: 30px; 
    border: 2px solid #f7c515;
    margin-top: 50px; 
    font-size: 16px; 
    cursor: pointer;
    color: #fff;
    background: #f7c515;
}


.baby-photo-preview {
    width: 100px; /* 원하는 너비 */
    height: 100px; /* 원하는 높이 */
    object-fit: cover; /* 이미지 비율을 유지하면서 요소에 맞춤 */
    border-radius: 50%; /* 이미지를 원형으로 만듦 */
}

.baby-add-more-container {
    display: flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 30px;;
    text-decoration: none;
    color: inherit; 
}

.baby-add-more-button {
    display: inline-block;
    background-color: #f7c515; /* 원하는 배경 색 */
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 50%; /* 동그랗게 만듭니다 */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    transition: background-color 0.3s;
}

.baby-add-more-text {
    font-weight: bold;
    margin-left: 10px;
}

.back-btn {
    position: absolute;
    top: 10px; /* 상단 여백 조정 */
    right: 10px; /* 우측 여백 조정 */
    width: 50px; /* 적절한 크기 지정 */
    height: 50px; /* 적절한 크기 지정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
}

.arrow-back-icon {
    position: absolute; 
    left: 30px;
    font-size: 22px;
    margin-top: -50px;
  }
  