.baby-rel-comment {
    margin-bottom: 80px;
    font-size: 20px;
    text-align: center;
}

.arrow-back-icon {
    position: absolute; 
    left: 30px;
    font-size: 22px;
    margin-bottom: 650px;
  }
  

.relation-btn {
    padding: 10px 20px;
    width: 300px;
    background-color: transparent;
    color: #494949;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 2px solid #DADADA;
    transition: all 0.3s ease;
}

.relation-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.relation-btn.selected {
    background: rgba(247, 197, 21, 0.1);
    color: #f7c515;
    border: 2px solid #f7c515;
}

.baby-add-submit-fin {
    width: 300px;
    height: 47px; 
    border-radius: 30px; 
    border: 2px solid #f7c515;
    margin-top: 50px; 
    font-size: 16px; 
    cursor: pointer;
    color: #fff;
    background: #f7c515;
}