.main-container {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-headerText {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }
  
  .main-notificationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gombaImage {
    width: 167px;
    height: 149px;
    padding: 30px;
  }
  
  .rectangleBox {
    width: 380px;
    height: 94px;
    border-radius: 30px;
    background: #f9f9f9;
  }

  .rectangleBoxText {
    padding-top: 40px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 18px;
  }

  .main-content{
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  
  .boxContainerLeft,
  .boxContainerRight {
    flex: 1;
  }

  .boxContainerRight {
    margin-left: 17px;
  }

  
  .smallBox {
    display: flex; /* 내부 요소를 수평으로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    width: 180px;
    height: 87px;
    background: #f9f9f9;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .smallmiddleBox {
    width: 180px;
    height: 193px;
    background: #f9f9f9;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .smallmiddleBox .babyphoto {
    width: 100%; /* 이미지를 상자에 맞게 조절 */
    height: 100%; /* 이미지의 원래 비율을 유지 */
    border-radius: 30px;
  }
  

  .boxText {
    flex-grow: 1;
    display: flex; /* flexbox를 사용하여 내부 요소를 배치 */
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center; /* 세로 중앙 정렬 */
    padding-left: 20px;
  }

  .textLarge {
    font-size: 20px; /* '우리아이'의 글씨 크기를 더 크게 설정 */
    font-weight: bold;
  }

  .textSmall {
    font-size: 16px; /* '수면패턴'의 글씨 크기를 더 작게 설정 */
  }

  .syringe {
    align-self: center; /* 수직 중앙 정렬 */
    margin-right: 20px; /* 오른쪽 여백 추가 */
  }
  
  .presentbox {
    position: absolute;
    margin-top: 20px;
    left: 45px;
  }
  
.rectangleBox,
.smallBox,
.smallmiddleBox {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 수평으로 0px, 수직으로 4px, 흐림 정도 8px, 색상은 rgba(0, 0, 0, 0.1) */
}

.logout-btn {
  display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}