.App {
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 화면 아래쪽에 정렬합니다. */
  margin-top: 90px;
}

.login-content {
  margin-bottom: 20px; /* 로그인 버튼과 컨테이너 사이의 여백을 조절합니다. */
}