.sleep-title {
  text-align: center;
  font-size: 20px;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  gap: 10px;
}

.button-container button {
  flex: 1;
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  position: relative;
  font-size: 15px;
  transition: color 0.3s ease;
  display: flex; /* 버튼 안의 텍스트를 가로 센터링하기 위해 추가 */
  justify-content: center;
  align-items: center; /* 버튼 안의 텍스트를 가로 센터링하기 위해 추가 */
}

.button-container button.bold {
  font-weight: bold;
}

.button-container button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; /* 가운데 정렬을 위해 left 값을 50%로 조정 */
  transform: translateX(-50%); /* 가운데 정렬을 위해 translateX를 이용하여 조정 */
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.button-container button:hover::after {
  width: 100%;
}

.button-container button:hover {
  font-weight: bold;
}



.babyguard-content {
  padding: 20px;
  justify-content: center;
}

.cctv-container {
  flex: 1;
  background-color: #f0f0f0;
  padding: 100px;
  border-radius: 10px;
}

.sleep-info {
  padding: 20px;
  border-radius: 10px;
}

.sleep-status {
  display: flex;
  flex-direction: column; /* 수직으로 일렬로 정렬되도록 수정 */
}

.video-content {
  height: 300px;
  width: auto;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}