.sleep-status-content {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 390px;
  margin: 0 auto; 
}

.sleep-status-title {
  font-size: 20px; /* 제목 크기를 더 크게 */
  font-weight: bold;
  text-align: left; /* 가운데 정렬 */
  padding-top: 20px;
  margin-left: 10px;
}

