.notification-box {
    box-sizing: border-box;
    position: relative;
    width: 381px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px; /* 알림 박스 사이 간격을 조정하기 위해 추가 */
  }
  
  .noti-container {
    display: flex;
    flex-direction: column; 
  }
  
  .notification-content {
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
    padding-right: 30px;
  }
  
  .notification-time {
    font-size: 14px;
    color: #777777;
    /* position: absolute; */
    margin-top: 5px;
    margin-right: auto;
  }
  
  .notification-box:before {
    content: '';
    position: absolute;
    left: 9px;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: transparent;
  }
  
  .notification-box.info:before {
    background-color: lightblue;
  }
  
  .notification-box.warning:before {
    background-color: red;
  }
  
  .notification-type, .notification-content, .notification-time {
    margin-left: 10px;
  }

  .delete-notification-button {
    position: absolute;
    right: 10px; /* 오른쪽 경계로부터 10px의 거리에 위치 */
    top: 50%; /* 상단으로부터 50%의 위치에 배치, 버튼을 수직 중앙에 맞추기 위함 */
    transform: translateY(-50%); /* 버튼을 정확히 수직 중앙에 맞추기 위해 자신의 높이의 반만큼 올림 */
    cursor: pointer; /* 마우스 오버 시 포인터 모양으로 변경, 사용자에게 클릭 가능함을 알림 */
    border: none; /* 선택적: 버튼의 테두리를 제거하고 싶은 경우 */
    background-color: transparent; /* 선택적: 배경색을 투명하게 설정 */
    padding: 5px 10px; /* 선택적: 버튼 내부의 패딩 조정 */
    border-radius: 5px; /* 선택적: 버튼의 모서리를 둥글게 */
  }